/* font-family: 'Poppins', sans-serif; */
body{
    font-family: 'Poppins', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #6563b3;
}
.hero-section{
    background-color: #dbf5db;
    min-height: 100vh;
}
.navbar-brand img{
    
        width: 25%;
}
.hero-content{

}
.hero-content h5{



color: rgba(253, 81, 26, 1);

font-size: 16px;

line-height: 24px;
}
.hero-content h1{
    
color: black;
    
font-size: 48px;
    
line-height: 70px;


}
.hero-content h1 span{
    color: #00c583;
}
.hero-content p{

color: rgba(108, 107, 107, 1);

font-size: 16px;

line-height: 36px;

font-weight: 600;
}
.btn-custom{

color: white;

/* color: #00c583; */

font-size: 16px;

line-height: 19px;

padding: 10px 20px;

border-radius: 50px;

background-color: #00c583;
}
.feature-content{

background-color: F8FFFB;

background-color: #F8FFFB;

padding: 50px 0;
}
.feature-content img{

width: 20%;
}
.feature-content h2{

color: rgba(65, 57, 96, 1);

font-size: 24px;

line-height: 36px;

margin-top: 15px;
}
.feature-content p{
    
color: rgba(88, 88, 89, 1);
    
line-height: 24px;
}
.feature-content:hover{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 20px 40px
    rgba(0,0,0,0,1);
    /* border-radius: 10px; */
    box-shadow: opx 10px 40px rgba;
    box-shadow: opx 10px 40px;
}
.course{

background-color: white;

padding: 20px;



box-shadow: 0px 10px 40px;

border-radius: 20px;
}
.course img{

}
.course h2{

color: rgba(65, 57, 96, 1);

font-size: 24px;

line-height: 36px;

margin-top: 30px;
}
.course p{

}
.btn-course{

color: white;

font-size: 16px;

background-color: #00c583;

line-height: 19px;

padding: 6px 12px;

border-radius: 50px;

margin: 20px 0;
}
.btn-course:hover{
    
    background-color: #1c7d5d;
    color: #dbf5db;
}
.course ul{

list-style: none;

margin: 0;

padding: 0;

display: flex;

justify-content: space-between;
}
.course ul li{

color: rgba(88, 88, 89, 1);

font-size: 16px;

line-height: 24px;
}
.course ul li i{
    
margin-right: 10px;
}
.heading h1{
    
color: rgba(65, 57, 96, 1);
    
font-size: 36px;
    
line-height: 54px;
    
text-align: center;
}
.client{

width: 40%;

margin: auto;

border: 1px solid #cebebe;

border-radius: 50px;

overflow: hidden;

margin-left: a;

margin-right: 10px;
}
.client img{
    
}
.testimonial p{
    
color: rgba(0, 0, 0, 1);
    
font-size: 16px;
    
line-height: 30px;
}
footer{

background: rgba(40, 37, 49, 1);

color: white;
}
footer p{

font-size: 16px;

line-height: 30px;
}
footer ul{

list-style: none;

margin: 0;

padding: 0;
}
footer ul li{

font-weight: 200;
}
footer ul li:first-child{

font-weight: 600;
}
