*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    position: relative;
    padding: 0;
}
.navbar-light .navbar-nav .nav-item{
    padding: 0 15px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0%;
    background: #008ed6;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 2px;
    width: 0%;
    background: #008ed6;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 47%;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 47%;
}
.banner-content{
    min-height: 90vh;
    align-items: center;
    position: relative;
}
.banner-content h5{

color: #008ed6;

text-transform: uppercase;

font-size: 16px;

letter-spacing: 2px;

margin-bottom: 15px;
}
.banner-content h1{

color: #fff;

margin-bottom: 25px;
}
.banner-content p{

color: #fff;

margin-bottom: 50px;
}
.btn-download{

color: #fff;

background-color: #008ed6;

padding: 15px 25px;

font-size: 14px;

text-transform: uppercase;

font-weight: 600;

letter-spacing: 1px;

border-radius: 5px;
}
.btn-features{
    
color: #fff;
    
text-transform: uppercase;
    
font-size: 14px;
    
font-weight: 600;
    
padding: 15px 25px;
    
border: 1px solid#f1c7c7;
    
border-radius: 5px;
    
margin-left: 30px;
}
.btn-features:hover{
    color: #fff;
    background-color: #008ed6;
    border-color: transparent;
}
.btn-download:hover{
    color: #fff;
    background-color: transparent;
    border: 1px solid#f1c7c7;
}
.phone{

position: absolute;

bottom: 0;

left: 55%;

width: 50%;
}
.phone img{
    
}
.heading{

}
.heading h1{color: #1a1a1a;font-size: 35px;}
.heading h5{
    color: #008ed6;
    font-size: 16px;
    text-transform: uppercase;
}
.heading span{
    display: inline-block;
    height: 2px;
    width: 70px;
    position: relative;
    
}
.heading span::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    left:0;
    top: 0;
    transition: .4s all ease-in-out;
}
.heading span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    right:0;
    top: 0;
    transition: .4s all ease-in-out;
}
.feature_section{

}
.feature_section:hover .heading span::after{
width: 45%;
}
.feature_section:hover .heading span::before{
    width: 45%;
}
.feature_item{

}
.feature_item h2{

font-size: 26px;

margin-top: 18px;
}
.feature_item p{

color: #b8b8b8;
}
.icon-box{
    
line-height: 60px;
    
height: 60px;
    
width: 60px;
    
border: 1px solid#red;
    
border: 1px solid #a79a9a;
    
border-radius: 50%;
    
font-size: 22px;
    
color: #6b6b6b;
    
margin: auto;
}
.mid_section{

}
.mid_section h5{

color: #008ed6;

text-transform: uppercase;

font-size: 10px;
}
.mid_section h1{

font-size: 30px;
}
.mid_section p{color: #cfcfcf;margin-top: 13px;}
.mid_section li{
color: #1b1b1b;
list-style: none;

/* margin-left: 2px; */
}
.mid_section li i{
    
color: #008ed6;
    
padding-top: 15px;
    
/* left: 3px; */
    
/* margin-left: 2px; */
    
margin-right: 8px;
}
.Mobile{

}
.Mobile img{

/* height: 123%; */
}


.Mobile span{
    display: inline-block;
    height: 2px;
    width: 70px;
    position: relative;
    
}
.Mobile span::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    left:0;
    top: 0;
    transition: .4s all ease-in-out;
}
.Mobile span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    right:0;
    top: 0;
    transition: .4s all ease-in-out;
}
.mid_section{

}
.mid_section:hover .Mobile span::after{
width: 45%;
}
.mid_section:hover .Mobile span::before{
    width: 45%;
}
.iphone_section{
    background-color: #f2f2f2;
}
.iphone{

}
.iphone h5{

color: #008ed6;

text-transform: uppercase;

font-size: 10px;
}
.iphone h1{

font-size: 30px;
}
.iphone p{color: #cfcfcf;margin-top: 13px;}
.iphone li{
color: #1b1b1b;
list-style: none;
}
.iphone span{
    display: inline-block;
    height: 2px;
    width: 70px;
    position: relative;
    
}
.iphone span::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    left:0;
    top: 0;
    transition: .4s all ease-in-out;
}
.iphone span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    right:0;
    top: 0;
    transition: .4s all ease-in-out;
}
.iphone_section{

}
.iphone_section:hover .iphone span::after{
width: 45%;
}
.iphone_section:hover .iphone span::before{
    width: 45%;
}